@import '/src/assets/styles/px-to-rem.scss';
@import '/src/assets/styles/animations.scss';

main{
  background: linear-gradient(180deg, #14131B 0%, #08070B 100%);
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6.4rem;
}

.container{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: rem(705);
  gap: rem(24);
  width: 100%;
  max-width: rem(540);
  animation: slide-in 1s ease-in-out;
}

.header-password__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: rem(31);
}

.password__container{
  display: flex;
  justify-content: space-between;
  width: rem(476);
  height: rem(42);
  background-color: var(--dark-grey);
  padding: rem(19) rem(32);
}

.password{
  color: var(--almost-white);
  max-width: 90%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.password__copy-to-clipboard{
  justify-content: center;
  align-items: center;
  display: flex;
  gap: rem(10);

  .copy-to-clipboard__keword{
    color: #A4FFAF;
  }
}

.main-container{
  width: rem(476);
  height: rem(460);
  flex-shrink: 0;
  background-color: var(--dark-grey);
  padding: rem(36) rem(32) rem(32)rem(32);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: rem(35);
}


.password-range-container{
  width: 100%;
  label{
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(27);
    line-height: rem(20) !important;
    color: var(--almost-white);

    .character-length__value{
      font-size: rem(32);
      color: var(--neon-green);
    }
  }
}

.password-options{
  margin-top: rem(2);
  .password-options__option{
    display: flex;
    gap: rem(24);
    align-items: flex-start;
    margin-bottom: rem(20);
    label{
      color: var(--almost-white);
    }
  }

  .password-options__option:last-child{
    margin-bottom: 0;
  }
}


.strength-meter{
  width: rem(412);
  margin-top: rem(-3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--very-dark-grey);
  padding: rem(20) rem(32);
}

.strength-meter__keyword{
  color: var(--grey);
  margin: 0;
}

.strength__indicator{
  display: flex;
  margin-top: rem(2);
  gap: rem(15.5);
  .indicator__keyword{
    color: var(--almost-white);
    margin: 0;
  }
}

#strength-bar-container{
  display: flex;
  gap: rem(8);
  .strength-bar{
    width: rem(10);
    height: rem(28);
  }
  .strength-bar-empty{
    width: rem(10);
    height: rem(28);
    box-sizing: border-box;
    background-color: var(--very-dark-grey);
    border: 2px solid var(--almost-white);
  }
}

.generate-button{
  padding-top: rem(21);
  padding-bottom: rem(21);
  color: var(--very-dark-grey);
  background-color: var(--neon-green);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(24);
  box-sizing: content-box;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  path{
    fill: #24232C;
  }

  &:hover{
    padding-top: rem(19);
    padding-bottom: rem(19);
    border: 2px solid var(--neon-green);
    background-color: var(--very-dark-grey);
    color: var(--neon-green);
    path{
      fill: var(--neon-green);
    }
  }
}


@media only screen and (max-width: 600px) {
  h1{
    font-size: rem(16);
    line-height: rem(31);
    margin: 0;
  }

  h2{
    font-size: rem(24);
    line-height: rem(44);
    margin: 0;
  }

  main{
    padding-top: 0rem;
  }

  .--small-font{
    font-size: rem(16);
    line-height: rem(20);
  }

  .--medium-font{
    font-size: rem(18);
    line-height: rem(27);
  }

  .container{
    padding: 3.7rem;
    gap:rem(16);
  }
  .password__container{
    width: rem(312);
    padding: rem(11) rem(15) rem(11) rem(16);

  }

  .header-password__container{
    gap: 0.7rem;
    justify-content: flex-start;
  }

  .copy-icon-mobile{
    display: block;
  }
  .copy-icon-desktop{
    display: none;
  }

  .main-container{
    width: rem(310);
    height: 100%;
    padding: rem(16) rem(16) rem(16) rem(16);
    gap: rem(16);

  }
  
  .password-range-container{
    label{
      font-size: rem(16);
      line-height: rem(20);
      align-items: center;
      margin-bottom: 0.6rem;

      span{
        font-size: rem(24) !important;
        line-height: rem(31);
      }
    }
  }

  .password-options{
    .password-options__option{
      gap: rem(20);
      align-items: center;
      margin-bottom: rem(17);
      label{
        color: var(--almost-white);
      }
    }

    .password-options__option:last-child{
      margin-bottom: 0;
    }

    .password-options__option:first-child{
      margin-top: 1.4rem;
    }
  }

  .strength-meter{
    width: rem(278);
    margin-top: rem(16);
    padding: rem(13) rem(16);
    margin-left: 0;
  }

  .generate-button{
    gap: rem(16);
    padding-top: rem(18);
    padding-bottom: rem(18);
    margin-top: 0;
  }
}









// Modifiers
.--placeholder{
  color: var(--almost-white) !important;
  opacity: 0.25;
}



// Icons
.copy-icon-mobile, .copy-icon-desktop{
  fill: #A4FFAF;
}
.copy-icon-mobile:hover, .copy-icon-desktop:hover{
  fill: var(--almost-white);
  cursor: pointer;
  transition: fill 0.2s ease-out;
}
.copy-icon-mobile{
  display: none;
}
