<main>
  <div class="container">

    <div class="header-password__container">
      <!-- Main Header -->
      <h1 class="header">Password Generator</h1>



      <!-- Password Container -->
      <div class="password__container">
        <h2 class="password">PTx1f5DaFX</h2>
        <span>
          <img src="/assets/images/icon-copy.svg" alt="Copy to clipboard" />
        </span>
      </div>
    </div>





    <!-- Password Main Container -->
    <div class="main-container">


      <!-- Password Length range input -->
      <div class="password-length">
        <label for="character-length">
          Character Length
          <span class="character-length-value">10</span>
        </label>
        <input type="range" min="0" max="100" value="50" id="character-length"
          (input)="handleInputChange($event)" />
      </div>





      <!-- Password Options Checkboxes -->
      <div class="password-options">
        <div class="password-options__option">
          <input type="checkbox" id="uppercase" checked />
          <label for="uppercase">Include Uppercase Letters</label>
        </div>
        <div class="password-options__option">
          <input type="checkbox" id="lowercase" checked />
          <label for="lowercase">Include Lowercase Letters</label>
        </div>
        <div class="password-options__option">
          <input type="checkbox" id="numbers" checked />
          <label for="numbers">Include Numbers</label>
        </div>
        <div class="password-options__option">
          <input type="checkbox" id="symbols" />
          <label for="symbols">Include Symbols</label>
        </div>
      </div>






      <!-- Password Strength Meter -->
      <div class="strength-meter">
        <p class="strength-meter__keyword">{{"strength" | uppercase }}</p>
        <div class="strength__indicator">
          <p class="indicator__keyword">{{"medium" | uppercase }}</p>

          <div class="strength-bar-container">
            <div class="strength-bar-fill"></div>
            <div class="strength-bar-fill"></div>
            <div class="strength-bar-fill"></div>
            <div class="strength-bar-empty"></div>
          </div>
        </div>
      </div>




      <!-- Password generate button -->
      <button class="generate-button">
        GENERATE
        <img src="/assets/images/icon-arrow-right.svg"
          alt="Generate Password Button" />
      </button>
    </div>
  </div>
</main>
